.pageWarapper {
    width: calc(100% - 2rem);
    min-height: calc(100% - 2rem);
    padding: 1rem;
    background: white;
}
.iframe {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: white;
}
.iframe img {
    width: 100%;
}
