.checkboxWrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    background: transparent;
}

.input:checked ~ .checkbox {
    background: black;
}
