.box {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    overflow: hidden;
}

.boxInner {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}
.text {
    overflow: auto;
    font-size: 0.75rem;
}
